footer.footer
	.footer__inner.container
		.container
			.row
				.footer__social
					ul.social
						li.social__item
							a(href="https://www.instagram.com/wowbrow_krd" target="_blank" title="Наш Instagram") Instagram
				.footer__copyright © 2015–2018, «WoBrow» &mdash; школа-студия дизайна взгляда и макияжа
				div Мы находимся по адресу: улица Гоголя 80, офис 104
				div Запись по телефону <a href="tel:+79615128172">8 961 512-81-72</a> или через <a href="https://api.whatsapp.com/send?phone=79615128172" target="_blank" title="Записаться в WhatsApp">WhatsApp</a>
				.footer__rights Все права защищены. Копирование материалов допускается только с письменного согласия автора.
script(src="js/main.bundle.js")