.section-hello
    background-color: #9cd0df
    padding-top: 170px
    padding-bottom: 50px
    .content
        position: relative
        display: inline-block
        vertical-align: top
        max-width: 600px
        width: 100%
        z-index: 10
        &__ttl
            margin-bottom: 40px

.masters
    text-align: center
    &__list
        list-style: none
        margin: 0
        padding: 0
.master
    display: inline-block
    vertical-align: top
    margin: 15px 35px
    &__avatar
        border-radius: 50% 
        width: 150px
        height: 150px
        line-height: 0
        overflow: hidden
        & img
            width: 100%
            height: auto
    &__info
        margin-top: 10px 
    &__name
        position: relative
        font-size: 2rem
        & .flag
            position: absolute
            top: 0
            right: -30px
            background-color: #cc0000
            text-transform: uppercase
            border-radius: 4px
            padding: 1px 3px
            font-size: .85rem
            color: #ffffff
            letter-spacing: .1rem

    &__proff
        color: #232323
        font-size: 1.35rem
    &__skills
        & a
            font-size: 1rem
            margin-right: 5px
